$sign-x: 255px;
$sign-y: 15px;
$sign-frames: 120;
$sign-duration: 3.5s;
$sign-delay: .2s;
#dex-sign {
    display: inline-block;
    margin: 30px 10px 15px 10px;
    width: $sign-x;
    height: $sign-y;
    //background: url(../assets/FontArt.png) no-repeat;
    background: url(../assets/art.png) no-repeat;
    // background: url(../assets/frames-255-white.png) no-repeat;
    &.white {
        background-image: url(http://drygiel.com/projects/sign/frames-255-white.png);
    }
    &.play {
        -moz-animation: sign-anim $sign-duration $sign-delay steps($sign-frames) forwards;
        -o-animation: sign-anim $sign-duration $sign-delay steps($sign-frames) forwards;
        -webkit-animation: sign-anim $sign-duration $sign-delay steps($sign-frames) forwards;
        animation: sign-anim $sign-duration $sign-delay steps($sign-frames) forwards;
    }
}

a#dex-sign {
    &:hover {
        $sign-hover-color-spin: 165deg;
        -webkit-filter: 'invert(30%) brightness(80%) sepia(100%) contrast(110%) saturate(953%) hue-rotate(${sign-hover-color-spin})';
    }
}

@-webkit-keyframes sign-anim {
    to {
        background-position: 0 $sign-frames * -$sign-y;
    }
}

@-moz-keyframes sign-anim {
    to {
        background-position: 0 $sign-frames * -$sign-y;
    }
}

@keyframes sign-anim {
    to {
        background-position: 0 $sign-frames * -$sign-y;
    }
}